<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pado.socialdiary.api.member.mapper.MemberMapper">
    <select id="testOne" resultType="java.lang.Integer">
        SELECT 1;
    </select>
</mapper>
